.topNav {
  background-color: #0d2137;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.navLinkContainer {
  display: flex;
  gap: 25px;
}

.navLink {
  color: #fff;
  font-size: 1.2em;
}

.avatarImg {
  border: 3px solid #fff;
  border-radius: 50%;
}
